@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color-grey-50: #E3E9ED;
  --color-grey-100: #D4DEE4;
  --color-grey-200: #C6D3DB;
  --color-grey-300: #B8C9D2;
  --color-grey-400: #AABEC8;
  --color-grey-500: #9DB4C0;
  --color-grey-600: #6E90A2;
  --color-grey-700: #4D6A79;
  --color-grey-800: #30424C;
  --color-grey-900: #131A1E;
  --color-primary-50: #EDF1F3;
  --color-primary-100: #B7C8CF;
  --color-primary-200: #A5BBC3;
  --color-primary-300: #93ADB7;
  --color-primary-400: #82A0AB;
  --color-primary-500: #49636D;
  --color-primary-600: #3D525B;
  --color-primary-700: #253237;
  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-500);
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
